extends ../layouts/layout

include ../helpers/_mixins
include ../helpers/_icons

block vars
	-
		var i = 0
		var j = 0
		var k = 0
		var l = 0
		var u = 0
		var t = 0
		var page = 'personal-brand'
		var title = 'É — личный брéнд'
		var about_titles = [
			{
				title: 'проработка позиционирования в медиа',
				hide_title: 'Развитие личного бренда без четко сформулированного позиционирования — это как прыжок с вертолёта без парашюта: какое-то время ты еще продержишься, но конечный исход очевиден.',
			},
			{
				title: 'распаковка личности и экспертности',
				hide_title: 'Важно нащупать свои сильные экспертные стороны и личностные качества, дабы твой персональный бренд имел твёрдую опору.',
			},
			{
				title: 'визуальная коммуникация',
				hide_title: 'Визуальная составляющая критически важна в личном бренде фрилансеров. Она не только закрепляет нужный образ в глазах потенциального клиента, а и выделяет тебя среди конкурентов.',
			},
			{
				title: 'систематизация потока клиентов и управление репутацией',
				hide_title: 'Личный бренд — это не только о привлечении клиентов, а и о создании всех условий для максимальной активизации сарафанного радио.',
			}
		]
		var peculiarities = [
			{
				number: '01',
				title: 'конкуренция тебя не заботит',
				text_1:'Конкуренция за внимание клиента сильно возросла. Твой потенциальный клиент ежедневно игнорирует десятки однотипных предложений по сотрудничеству.',
				text_2: 'Наличие личного бренда в медиа сужает круг твоих конкурентов к минимуму. Даже если завтра условный Дава выпустит 5.000 безруких специалистов, на тебя и твой бренд это никак не повлияет.',
			},
			{
				number: '02',
				title: 'забудь о поиске клиентов',
				text_1: 'Поиск и обработка клиентов занимает большое количество времени. Это время рациональнее потратить на развитие личного бренда, который станет твоим основным источником запросов на услуги.',
				text_2: 'С хорошим личным брендом ты не ищешь клиентов — они находят тебя сами.',
			},
			{
				number: '03',
				title: 'работаешь меньше — продаешь больше',
				text_1: 'Имея твёрдый ЛБ, тебе будет намного проще создать команду подрядчиков и делегировать им скучную часть своей работы, оставив на себе только закрытие клиентов на достойные чеки.',
				text_2: 'Всё больше заказчиков предпочитают работать с популярными экспертами и готовы переплачивать за эту прихоть.',
			},
		]
		var course_subtitles = [
			'Одно неточное действие в неправильное время и неправильном месте может нанести серьезный ущерб твоему личному бренду, который потом практически невозможно возместить.',
			'На курсе мы поможем тебе построить результативный личный бренд, минимизируя кол-во ошибок. ',
		]
		var course_features = [
			'Анализируя конкурентные курсы  по ЛБ, мы заметили одну и ту же ошибку — все обучающие программы направлены на слишком широкий сегмент целевой аудитории: это и блогеры, и эксперты, и предприниматели.',
			'Авторы говорят, что их курс подходит абсолютно всем. <br /> Такое позиционирование априори вынуждает  создавать общую и размытую информацию, без точечных решений и конкретных методик.'
		]
		var dino_game =[
			{
				id: "1",
				title: "коммуникация с @filatovsmm",
				text: `Первые 15 дней курса — это личная коммуникация с Филатовым. Мы определим сильные экспертные стороны и личностные качества, которые станут фундаментом твоего личного бренда.`
			},
			{
				id: "2",
				title: "Удобный формат",
				text: `Основная часть курса проходит в текстовом формате на специальной платформе. Проходишь тогда, когда тебе удобно. <br> Доступ к будущим обновлениям.`
			},
			{
				id: "3",
				title: "закрытый instagram-профиль",
				text: `Ты получишь доступ к закрытому аккаунту курса, где Тимофей будет выходить в сторис с материалом, который сложно передать через текст.`
			},
			{
				id: "4",
				title: "чат студентов",
				text: `Всё это — в приятном комьюнити единомышленников. <br> Нетворкинг, связи и возможности.`
			}
		]
		var programs = [
			{
				id: 'programs-block-1',
				title: 'распаковка личности и экспертности',
				desc: `
					в первом блоке курса мы совместно распакуем твои сильные личностные и экспертные стороны в формате индивидуального общения <br>
				`
			},
			{
				id: 'programs-block-2',
				title: 'основы и стратегия',
				desc: `
					— что творится на рынке личных брендов сейчас<br>
					— примеры\\анти-примеры<br>
					— целеполагание<br>
					— стратегия личного бренда <br>
					— кто твоя целевая аудитория <br>
					— анализ и отстройка от конкурентов <br>
					— как быть уникальным <br>
					— позиционирование и TOV <br>
					— ошибки при развитии ЛБ <br>
				`
			},
			{
				id: 'programs-block-3',
				title: 'упаковка',
				desc: `
					<b>часть 1. упаковка специалиста</b><br>
					— портфолио\\самопрезентация<br>
					— упаковка кейсов<br>
					— коммерческое предложение<br>
					— декомпозиция услуг<br>
					<br>
					<b>часть 2. упаковка соцсетей</b><br>
					— фирменный стиль специалиста<br>
					— визуал ленты Instagram<br>
					— оформление Stories<br>
					— приложения для работы с контентом<br>
					— оформление других каналов коммуникации<br>
					— как выделяться визуалом<br>
					<br>
				`
			},
			{
				id: 'programs-block-4',
				title: 'контент-стратегия',
				desc: `
				— оптимальная контент-стратегия для ЛБ <br>
				— Big Idea <br>
				— как генерировать идеи для контента <br>
				— типы контента: продающий, вовлекающий, репутационный <br>
				— форматы контента <br>
				— личный\\экспертный контент <br>
				— рубрикатор постов: примеры <br>
				— рубрикатор Stories: примеры <br>
				— контент-план <br>
				— креатив: нужен ли он тебе <br>
				— копирайтинг: как писать красиво <br>
				— сторителлинг <br>
				— готовые идеи для контента <br>
				— дистрибуция контента <br>
				`
			},
			{
				id: 'programs-block-5',
				title: 'продвижение личного бренда',
				desc: `
					— стратегия продвижения ЛБ <br>
					— лид-магниты <br>
					— бесплатные способы продвижения <br>
					— таргетированная реклама для ЛБ <br>
					— креативы: месседжи и оформление <br>
					— парсинг аудитории <br>
					— промоакции Instagram <br>
					— посевы у блоггеров\\коллаборации <br>
					— рассылки и автоворонки <br>
					— как выделяться своей рекламой <br>
					— построение комьюнити: UGC <br>
					— личный бренд офлайн <br>
					— публикации в СМИ <br>
					— другие способы продвижения <br>
				`
			},
			{
				id: 'programs-block-6',
				title: 'систематизация потока клиентов',
				desc: `
					— как настроить стабильный поток клиентов с ЛБ <br>
					— как продлить LTV клиента <br>
					— как заставить говорить о себе в кругу предпринимателей <br>
					— управление репутацией <br>
					— программы лояльности <br>
					— как увеличить чек на услуги <br>
					— как правильно масштабироваться <br>
				`
			},
		]
		var questions = [
			{
				id: 'questions-block-1',
				title: 'подойдет ли тем, кто не работает в digital?',
				desc: `Нет, наш курс рассчитан исключительно на digital-специалистов и экспертов. <br> 
				Подойдет маркетологам, SMM-щикам, таргетологам, дизайнерам, инфобизнесменам и другим фрилансерам.`
			},
			{
				id: 'questions-block-2',
				title: 'стоит ли идти на курс тем, у кого уже развит ЛБ?',
				desc: `Нет предела совершенству)`
			},
			{
				id: 'questions-block-3',
				title: 'сколько длится курс?',
				desc: `1 месяц`
			},
			{
				id: 'questions-block-4',
				title: 'сколько будет доступен курс после окончания?',
				desc: `Доступ неограничен, более того — материалы будут обновляться с каждым потоком.`
			},
			{
				id: 'questions-block-5',
				title: 'есть ли рассрочка?',
				desc: `Нет, не нужно покупать курс на последние деньги. <br> 
				Личный бренд — это большие вложения в себя, которые в перспективе окупаются в десятки раз.`
			},
			{
				id: 'questions-block-6',
				title: 'можно ли совмещать курс с работой\\учебой?',
				desc: `Конечно, уроки проходят в онлайн-режиме. <br> Ты можешь проходить курс тогда, когда тебе будет удобно.`
			},
		]
		var results = [
			{
				img: "results-1.gif",
				title: 'сформированная стратегия развития личного бренда',
				desc: 'У тебя будет чёткое понимание, какие инструменты нужно использовать для достижения поставленной цели.  '
			},
			{
				img: "results-2.gif",
				title: 'увеличение чека на услуги',
				desc: 'Всё больше предпринимателей предпочитают работать с популярными экспертами и готовы переплачивать за имя. '
			},
			{
				img: "results-3.gif",
				title: 'понимание, для кого и какой контент создавать',
				desc: 'Ты забудешь про высасывание контента из пальца и научишься стратегически подходить к этому вопросу. '
			}
		]
		var filatov_desc = [
			'То, что творится на рынке личных брендов сейчас — тихий ужас.',
			'Шаблонные посты, отсутствие адекватного позиционирования, нелепые попытки выделиться, высосанный из пальца контент, экспертная экспертность и миллионы на охватах 150 — весь этот стыд подтолкнул меня на разработку своего курса по личному бренду, где мы с командой поможем тебе в создании неколхозного и экологичного медиа-образа.',
			'За 3 года активного развития своего личного бренда я стал одним из самых обсуждаемых SMM-специалистов в СНГ и задал коммуникационно-контентную планку, к которой стремятся многие эксперты.'
		]
		var sell_items = [
			'реализовал инфопродукты на 300.000$+ исключительно через ЛБ',
			'восьмикратно увеличил чек на услуги с помощью личного бренда',
			'беру 400$ за консультацию, а не за месячное ведение',
			'занял первые позиции в wish-листе ведущих компаний',
			'одел SMM-комьюнити в свой мерч'
		]

append content
	include ../components/brand/brand-preloader
	main#personal-brand-page
		section.main-section.main-section_brand
			.container
				.row
					.col-12.col-md-6.d-flex.flex-column.justify-content-center
						h1.section-title.brand-title(data-word-preview="личный брéнд")
						p.brand-sub-title
							span.brand-sub-title__key(data-aos="fade-up-mask" data-aos-delay="6150") Начало: 
								span.brand-sub-title__value 20 сентября
							br
							span.brand-sub-title__key(data-aos="fade-up-mask" data-aos-delay="6350") Длительность: 
								span.brand-sub-title__value 30 дней
							br
							span.brand-sub-title__key(data-aos="fade-up-mask" data-aos-delay="6550") Стоимость: 
								span.brand-sub-title__value
									span.del 290$
									|  200$
						.btn-row(data-aos="clip-right" data-aos-delay="6750")
							button.custom-btn(type="button" data-bs-toggle="modal" data-bs-target="#reservation-brand")
								span забронировать
								<svg width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M10.5107 0.572754H8.1315V10.8828H10.5107V0.572754Z" fill="#AEFF00"/>
									<path d="M0.200708 0.572754V2.95199L10.5107 2.95199V0.572754L0.200708 0.572754Z" fill="#AEFF00"/>
									<path d="M8.92458 4.14161V2.55545H6.54534L0.200708 8.90009V10.8828H2.18341L8.92458 4.14161Z" fill="#AEFF00"/>
								</svg>
				.crown
					<svg width="572" height="865" viewBox="0 0 572 865" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path class="crown-path" fill-rule="evenodd" clip-rule="evenodd" d="M73.6338 566.664H417.223L442.098 325.622L279.656 379.758L123.308 181.582L121.876 183.39L122.154 186.261L123.305 184.808L278.956 382.1L439.79 328.499L415.419 564.664H74.9442L73.6338 566.664ZM70.7639 677.234H516.992L569.692 166.548L318.379 250.303L123.451 3.22571L73.767 65.9941C73.2889 65.5234 72.8099 65.0538 72.3308 64.5861L123.454 0L319.079 247.961L572 163.671L518.797 679.234H71.7205L70.7639 677.234ZM0.970581 865H523.708V750.43H107.5V752.43H521.708V863H5.20588L0.970581 865Z" fill="url(#paint0_linear_423_343)"/>
						<defs>
							<linearGradient id="paint0_linear_423_343" x1="256.5" y1="556" x2="-68.5" y2="554" gradientUnits="userSpaceOnUse">
								<stop stop-color="#FF4826"/>
								<stop offset="1" stop-color="#FF4826" stop-opacity="0"/>
							</linearGradient>
						</defs>
					</svg>
		section#about-brand.about-brand-section
			.container 
				h2.section-title.about-title(data-word=`личный бренд сегодня — это не просто о наличии экспертного блога в Instagram`)
				p.section-desc(data-aos="fade-up-20" data-aos-delay="200") всё намного глобальнее:
				.row.about-brand-items
					each about_title, index in about_titles
						if index + 1 === 2 || index + 1 === 3
							.col-12.col-lg-6.about-brand-item.about-brand-item--green(data-aos="fade-up-20" data-aos-delay=`${ 100 + (index * 100) }` data-aos-duration="1000")
								.item-open 
									span.span-open 
										span.span-open__title!=`${about_title.title}`
										span.span-open__more.more-green Нажми
											<svg width="5" height="10" viewBox="0 0 5 10" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path fill-rule="evenodd" clip-rule="evenodd" d="M-5.68664e-08 8.45613L1.30095 9.75708L4.87857 6.17946L4.87828 6.17917L4.8784 3.57791L4.87874 3.57757L1.30112 -4.86943e-05L0.000170748 1.3009L3.05828 4.35901L3.05828 5.39785L-5.68664e-08 8.45613Z" fill="#AEFF00"/>
											</svg>
									.img-open
										<svg width="88" height="43" viewBox="0 0 88 43" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path d="M44 0C12.5 0 0 21.5 0 21.5C0 21.5 13 43 44 43C75 43 88 21.5 88 21.5C88 21.5 75.5 0 44 0Z" fill="black"/>
											<path fill-rule="evenodd" clip-rule="evenodd" d="M44 0C75.5 0 88 21.5 88 21.5C88 21.5 75 43 44 43C13 43 0 21.5 0 21.5C0 21.5 12.5 0 44 0ZM7.49926 21.4531C8.92367 19.7922 11.0099 17.6641 13.8212 15.5245C16.6102 13.402 20.1361 11.2481 24.4855 9.5268C24.148 10.9146 24 12.597 24 14.6364C24 25.8829 32.9543 35 44 35C55.0457 35 64 25.8829 64 14.6364C64 12.5807 63.8162 10.8877 63.4303 9.49356C67.8184 11.2203 71.3718 13.3883 74.1788 15.5245C76.9901 17.6641 79.0763 19.7922 80.5007 21.4531C79.0334 23.1326 76.8864 25.2914 74.0116 27.4601C67.7631 32.1739 58.004 37 44 37C29.996 37 20.2369 32.1739 13.9884 27.4601C11.1136 25.2914 8.96659 23.1326 7.49926 21.4531ZM82.8296 24.5443C82.8327 24.5493 82.8328 24.5496 82.83 24.5449L82.8296 24.5443Z" fill="#AEFF00"/>
											<path d="M44.2696 11L42.9409 12.877H44.7309L47.0314 11H44.2696Z" fill="black"/>
											<path d="M41.342 15.0723C40.6409 14.3678 41.0202 13.7624 41.3782 13.1438C40.8816 13.6706 40.385 14.1525 39.6048 13.6702C39.8434 13.951 39.823 14.2562 39.7389 14.5672C39.703 14.7005 39.6579 14.8308 39.6039 14.9574C39.2405 15.8053 38.7055 16.5393 38.1532 17.2613C38.1025 17.3275 38.0509 17.3935 38 17.4595L38.057 17.5108C38.1073 17.4455 38.157 17.3797 38.2082 17.3154C38.7307 16.653 39.2605 15.9956 39.9139 15.4641C40.3073 15.1442 40.7077 14.7912 41.342 15.0721" fill="black"/>
											<path d="M47.7832 15.6903H47.8805V13.9443H41.5327C41.4959 14.4976 41.6864 15.0698 42.2941 15.68C41.3714 15.2716 40.7032 15.552 40.1046 15.9796V21.9184H47.8805V20.1781H42.3182V18.7211H47.1186V17.0084H42.3184V15.6903H47.7832Z" fill="black"/>
										</svg>
								.item-hide
									span.span-hide!=`${about_title.hide_title}` 
									.img-hide
										<svg width="36" height="25" viewBox="0 0 36 25" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path d="M18 3.15527C5.11364 3.15527 0 11.9507 0 11.9507C0 11.9507 5.31818 20.7462 18 20.7462C30.6818 20.7462 36 11.9507 36 11.9507C36 11.9507 30.8864 3.15527 18 3.15527Z" fill="#AEFF00"/>
											<path fill-rule="evenodd" clip-rule="evenodd" d="M18 3.15527C30.8864 3.15527 36 11.9507 36 11.9507C36 11.9507 30.6818 20.7462 18 20.7462C5.31818 20.7462 0 11.9507 0 11.9507C0 11.9507 5.11364 3.15527 18 3.15527ZM3.06788 11.9315C3.65059 11.2521 4.50407 10.3815 5.65413 9.50622C6.79509 8.63788 8.23753 7.75674 10.0169 7.05257C9.87879 7.62032 9.81825 8.30859 9.81825 9.14292C9.81825 13.7438 13.4814 17.4735 18.0001 17.4735C22.5188 17.4735 26.1819 13.7438 26.1819 9.14292C26.1819 8.30195 26.1067 7.60937 25.9488 7.03903C27.7439 7.74543 29.1976 8.6323 30.3459 9.50622C31.4959 10.3815 32.3494 11.2521 32.9321 11.9315C32.3318 12.6186 31.4535 13.5017 30.2775 14.389C27.7212 16.3173 23.7289 18.2916 18 18.2916C12.2711 18.2916 8.27875 16.3173 5.72254 14.389C4.54647 13.5017 3.66815 12.6186 3.06788 11.9315Z" fill="black"/>
											<rect x="23.1283" width="3.27273" height="26.1818" transform="rotate(30 23.1283 0)" fill="black"/>
										</svg>
						else
							.col-12.col-lg-6.about-brand-item(data-aos="fade-up-20" data-aos-delay=`${ 100 + (index * 100) }` data-aos-duration="1500")
								.item-open
									span.span-open
										span.span-open__title!=`${about_title.title}`
										span.span-open__more Нажми
											<svg width="5" height="10" viewBox="0 0 5 10" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path fill-rule="evenodd" clip-rule="evenodd" d="M-5.68664e-08 8.45613L1.30095 9.75708L4.87857 6.17946L4.87828 6.17917L4.8784 3.57791L4.87874 3.57757L1.30112 -4.86943e-05L0.000170748 1.3009L3.05828 4.35901L3.05828 5.39785L-5.68664e-08 8.45613Z" fill="#AEFF00"/>
											</svg>
									.img-open
										<svg width="88" height="43" viewBox="0 0 88 43" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path d="M44 0C12.5 0 0 21.5 0 21.5C0 21.5 13 43 44 43C75 43 88 21.5 88 21.5C88 21.5 75.5 0 44 0Z" fill="white"/>
											<path fill-rule="evenodd" clip-rule="evenodd" d="M44 0C75.5 0 88 21.5 88 21.5C88 21.5 75 43 44 43C13 43 0 21.5 0 21.5C0 21.5 12.5 0 44 0ZM7.49926 21.4531C8.92367 19.7922 11.0099 17.6641 13.8212 15.5245C16.6102 13.402 20.1361 11.2481 24.4855 9.5268C24.148 10.9146 24 12.597 24 14.6364C24 25.8829 32.9543 35 44 35C55.0457 35 64 25.8829 64 14.6364C64 12.5807 63.8162 10.8877 63.4303 9.49356C67.8184 11.2203 71.3718 13.3883 74.1788 15.5245C76.9901 17.6641 79.0763 19.7922 80.5007 21.4531C79.0334 23.1326 76.8864 25.2914 74.0116 27.4601C67.7631 32.1739 58.004 37 44 37C29.996 37 20.2369 32.1739 13.9884 27.4601C11.1136 25.2914 8.96659 23.1326 7.49926 21.4531ZM82.8296 24.5443C82.8327 24.5493 82.8328 24.5496 82.83 24.5449L82.8296 24.5443Z" fill="#FF4826"/>
											<path d="M44.2696 11L42.9409 12.877H44.7309L47.0314 11H44.2696Z" fill="white"/>
											<path d="M41.342 15.0723C40.6409 14.3678 41.0202 13.7624 41.3782 13.1438C40.8816 13.6706 40.385 14.1525 39.6048 13.6702C39.8434 13.951 39.823 14.2562 39.7389 14.5672C39.703 14.7005 39.6579 14.8308 39.6039 14.9574C39.2405 15.8053 38.7055 16.5393 38.1532 17.2613C38.1025 17.3275 38.0509 17.3935 38 17.4595L38.057 17.5108C38.1073 17.4455 38.157 17.3797 38.2082 17.3154C38.7307 16.653 39.2605 15.9956 39.9139 15.4641C40.3073 15.1442 40.7077 14.7912 41.342 15.0721" fill="white"/>
											<path d="M47.7832 15.6903H47.8805V13.9443H41.5327C41.4959 14.4976 41.6864 15.0698 42.2941 15.68C41.3714 15.2716 40.7032 15.552 40.1046 15.9796V21.9184H47.8805V20.1781H42.3182V18.7211H47.1186V17.0084H42.3184V15.6903H47.7832Z" fill="white"/>
										</svg>
								.item-hide
									span.span-hide!=`${about_title.hide_title}` 
									.img-hide
										<svg width="36" height="25" viewBox="0 0 36 25" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path d="M18 3.15527C5.11364 3.15527 0 11.9507 0 11.9507C0 11.9507 5.31818 20.7462 18 20.7462C30.6818 20.7462 36 11.9507 36 11.9507C36 11.9507 30.8864 3.15527 18 3.15527Z" fill="#FF4826"/>
											<path fill-rule="evenodd" clip-rule="evenodd" d="M18 3.15527C30.8864 3.15527 36 11.9507 36 11.9507C36 11.9507 30.6818 20.7462 18 20.7462C5.31818 20.7462 0 11.9507 0 11.9507C0 11.9507 5.11364 3.15527 18 3.15527ZM3.06788 11.9315C3.65059 11.2521 4.50407 10.3815 5.65413 9.50622C6.79509 8.63788 8.23753 7.75674 10.0169 7.05257C9.87879 7.62032 9.81825 8.30859 9.81825 9.14292C9.81825 13.7438 13.4814 17.4735 18.0001 17.4735C22.5188 17.4735 26.1819 13.7438 26.1819 9.14292C26.1819 8.30195 26.1067 7.60937 25.9488 7.03903C27.7439 7.74543 29.1976 8.6323 30.3459 9.50622C31.4959 10.3815 32.3494 11.2521 32.9321 11.9315C32.3318 12.6186 31.4535 13.5017 30.2775 14.389C27.7212 16.3173 23.7289 18.2916 18 18.2916C12.2711 18.2916 8.27875 16.3173 5.72254 14.389C4.54647 13.5017 3.66815 12.6186 3.06788 11.9315Z" fill="white"/>
											<rect x="23.1283" width="3.27273" height="26.1818" transform="rotate(30 23.1283 0)" fill="white"/>
										</svg>
		section#peculiarities.peculiarities-section
			+imageBrand("about-brand-bg.png", "about-brand-bg").peculiarities-bg
			+imageBrand("about-brand-bg-2.png", "about-brand-mobile-bg").peculiarities-mobile-bg
			.container 
				h2.section-title.peculiarities-title(data-word="почему без личного бренда сейчас никак?")
				.slider.peculiarities-items
					each peculiarity, index in peculiarities
						div(class=`slide peculiarities-item peculiarities-item-${index + 1}`)(data-aos="clip-right-short" data-aos-delay=`${ 100 + (index * 100) }` data-aos-duration="1000")
							span.peculiarities-item__number!=peculiarity.number
							h4.peculiarities-item__title(data-aos="fade-right-20" data-aos-delay=`${ 150 + (index * 100) }`)=peculiarity.title
							p.peculiarities-item__text(data-aos="fade-right-20" data-aos-delay=`${ 200 + (index * 100) }`)=peculiarity.text_1
							p.peculiarities-item__text(data-aos="fade-right-20" data-aos-delay=`${ 250 + (index * 100) }`)=peculiarity.text_2
				.slider-pagination.slider-pagination__peculiarities(data-aos="fade-up-20" data-aos-delay="300")
					.slider-pagination__arrow.slider-pagination__arrow_prev
						<svg width="29" height="16" viewBox="0 0 29 16" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path fill-rule="evenodd" clip-rule="evenodd" d="M23.1331 15.9996L20.9999 13.8663L24.7448 10.1214H0V6.1214H24.9883L21.0002 2.13326L23.1334 4.67511e-06L28.9999 5.86647L28.9994 5.86694L28.9992 10.1327L28.9996 10.1331L23.1331 15.9996Z" fill="#AEFF00"/>
						</svg>
					.slider-pagination__arrow.slider-pagination__arrow_next
						<svg width="29" height="16" viewBox="0 0 29 16" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path fill-rule="evenodd" clip-rule="evenodd" d="M23.1331 15.9996L20.9999 13.8663L24.7448 10.1214H0V6.1214H24.9883L21.0002 2.13326L23.1334 4.67511e-06L28.9999 5.86647L28.9994 5.86694L28.9992 10.1327L28.9996 10.1331L23.1331 15.9996Z" fill="#AEFF00"/>
						</svg>
		section#course.course-section
			.container 
				.course-top
					.course-item(data-aos="clip-right-short" data-aos-delay="100")
						h2.section-title.course-title(data-word=`о курсе`)
						.course_subtitles
							each course_subtitle, index in course_subtitles
								p.course_subtitle
									span(data-aos="fade-up-mask" data-aos-delay=`${100 + (index * 100)}`)!=`${course_subtitle}`
						.course-pros
							.course-pros__left
								p(data-aos="fade-up-mask" data-aos-delay="150") 40+ модулей
								p(data-aos="fade-up-mask" data-aos-delay="250") поддержка от филатова
								+imageBrand("sticker.png", "sticker")(data-aos="scale-100" data-aos-delay="200" data-aos-duration="500")
							.course-pros__right
								p(data-aos="fade-up-mask" data-aos-delay="350") 1 месяц
								p(data-aos="fade-up-mask" data-aos-delay="450") доступ к обновлениям						
					.course-item
						+imageBrand("course-img.png", "Course-img")(data-aos="fade-up-mask" data-aos-delay="450").course-item__img
				.course-bottom
					.course-bottom__block
						h4.section-title.course-bottom__title(data-word="ключевая особенность")
						.course-bottom__features
							each feature, index in course_features
								p.feature_subtitle
									span(data-aos="fade-up-mask" data-aos-delay=`${100 + (index * 100)}`)!=`${feature}`
					.course-bottom__block
						p(data-aos="fade-up-20" data-aos-delay="150") Наш курс создан исключительно для тех, кто работает в digital и продаёт здесь свои услуги.  <br /> Это позволяет нам не распыляться в программе, а тебе — получать максимум применимых на практике знаний.
						<svg class="course-bottom__svg-desktop" width="714" height="339" viewBox="0 0 714 339" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M81.9684 137.093C-4.06144 176.196 -7.34689 219.783 12.0395 268.571C55.3318 377.521 379.399 330.846 471.886 303.958C564.372 277.071 715.685 193.618 712.384 79.3569C709.083 -34.9041 294.953 0.354852 179.5 40.5" stroke="#FF4826" stroke-width="3"/>
						</svg>
						<svg class="course-bottom__svg-desktop" width="706" height="337" viewBox="0 0 706 337" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M703.457 99.6833C705.162 120.358 697.185 142.059 681.047 163.672C664.903 185.294 640.657 206.734 610.045 226.777C548.826 266.86 462.412 301.186 365.323 320.178C268.234 339.169 178.991 339.204 113.208 323.964C80.3142 316.343 53.3563 304.919 34.2146 290.2C15.0797 275.486 3.83221 257.546 2.12665 236.871C0.421081 216.197 8.39833 194.496 24.5363 172.882C40.6801 151.261 64.9268 129.821 95.5387 109.778C156.757 69.6944 243.171 35.3686 340.261 16.3769C437.35 -2.61486 526.592 -2.64932 592.375 12.591C625.269 20.2117 652.227 31.6356 671.369 46.3548C690.504 61.0687 701.751 79.0089 703.457 99.6833Z" stroke="#FF4826" stroke-width="3"/>
						</svg>
						<svg class="course-bottom__svg-mobile" width="370" height="269" viewBox="0 0 370 269" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M19.7155 110.46C-26.3083 141.869 -25.9964 176.209 -12.7932 214.482C16.6913 299.949 195.006 260.858 245.229 239.02C295.452 217.183 375.679 150.384 368.221 60.4469C360.764 -29.4903 131.694 1.26279 69.3229 33.7046" stroke="#FF4826" stroke-width="2"/>
						</svg>
						<svg class="course-bottom__svg-mobile" width="368" height="267" viewBox="0 0 368 267" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M365.666 76.9636C369.638 109.807 351.974 145.971 319.857 177.942C287.756 209.896 241.346 237.511 188.233 253.147C135.119 268.783 85.451 269.452 48.0942 257.945C10.718 246.432 -14.1776 222.797 -18.1495 189.954C-22.1214 157.11 -4.45762 120.946 27.6598 88.9752C59.7607 57.0209 106.17 29.406 159.284 13.7702C212.397 -1.86572 262.066 -2.53483 299.423 8.97207C336.799 20.4849 361.694 44.1203 365.666 76.9636Z" stroke="#FF4826" stroke-width="2"/>
						</svg>
			.course-section__scrolling-bar.course-section__scrolling-bar_text(data-aos="clip-right" data-aos-delay="100" data-aos-offset="-1000")
				.course-section__text-wrap
					while i++ < 10
						p.text личный брéнд / 200$
				.course-section__text-wrap
					while j++ < 10
						p.text личный брéнд / 200$
			.course-section__scrolling-bar.course-section__scrolling-bar_date(data-aos="clip-right" data-aos-delay="150" data-aos-offset="-1000")
				.course-section__text-wrap
					while k++ < 10
						p.text личный брéнд / 20 сентября
				.course-section__text-wrap
					while l++ < 10
						p.text личный брéнд / 20 сентября
		section#studying.studying-section 
			.container 
				h2.section-title.studying-title(data-word="как проходит обучение")
				.dino-game.step-1#dino-game
					+imageBrand("cloud_1.svg", "cloud-1").dino-game__img-cloud-1
					+imageBrand("cloud_2.svg", "cloud-2").dino-game__img-cloud-2
					.dino-game__img-dino
						+imageBrand("dino.svg", "dino")
						<svg width="46" height="23" viewBox="0 0 46 23" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M23 0C6.53409 0 0 11.2386 0 11.2386C0 11.2386 6.79545 22.4773 23 22.4773C39.2045 22.4773 46 11.2386 46 11.2386C46 11.2386 39.4659 0 23 0Z" fill="white"/>
							<path fill-rule="evenodd" clip-rule="evenodd" d="M23 0C39.4659 0 46 11.2386 46 11.2386C46 11.2386 39.2045 22.4773 23 22.4773C6.79545 22.4773 0 11.2386 0 11.2386C0 11.2386 6.53409 0 23 0ZM3.92007 11.2141C4.66465 10.3459 5.7552 9.2335 7.22472 8.1151C8.68259 7.00557 10.5257 5.87969 12.7992 4.97992C12.6228 5.7054 12.5454 6.58489 12.5454 7.65101C12.5454 13.5299 17.2261 18.2956 23 18.2956C28.7738 18.2956 33.4545 13.5299 33.4545 7.65101C33.4545 6.57634 33.3584 5.69131 33.1566 4.9625C35.4505 5.86514 37.308 6.9984 38.7753 8.1151C40.2448 9.2335 41.3354 10.3459 42.0799 11.2141C41.3129 12.092 40.1906 13.2205 38.6879 14.3541C35.4216 16.8182 30.3203 19.3409 23 19.3409C15.6797 19.3409 10.5784 16.8182 7.31213 14.3541C5.80938 13.2205 4.68708 12.092 3.92007 11.2141ZM43.2973 12.83C43.2989 12.8326 43.299 12.8327 43.2975 12.8303L43.2973 12.83Z" fill="#FF4826"/>
							<g clip-path="url(#clip0_153_627)">
							<path d="M23.1409 5.75L22.4464 6.73117H23.3821L24.5846 5.75H23.1409Z" fill="white"/>
							<path d="M21.6106 7.87872C21.2441 7.51048 21.4424 7.19398 21.6295 6.87064C21.3699 7.14602 21.1104 7.39792 20.7025 7.14578C20.8272 7.29259 20.8166 7.45212 20.7726 7.61471C20.7539 7.68434 20.7303 7.7525 20.702 7.81865C20.5121 8.26189 20.2324 8.64555 19.9437 9.02297C19.9172 9.05759 19.8903 9.09209 19.8636 9.12659L19.8935 9.15339C19.9197 9.11925 19.9457 9.08488 19.9725 9.05123C20.2456 8.70501 20.5225 8.36135 20.8641 8.08352C21.0697 7.91628 21.2791 7.73179 21.6106 7.8786" fill="white"/>
							<path d="M24.9776 8.20171H25.0284V7.28905H21.7103C21.691 7.57826 21.7906 7.87738 22.1083 8.19632C21.6259 7.98284 21.2767 8.1294 20.9637 8.35292V11.4573H25.0284V10.5476H22.1209V9.78602H24.6302V8.89073H22.121V8.20171H24.9776Z" fill="white"/>
							</g>
							<defs>
							<clipPath id="clip0_153_627">
								<rect width="5.22727" height="5.75" fill="white" transform="translate(19.8636 5.75)"/>
							</clipPath>
							</defs>
						</svg>
					each dino, index in dino_game
						div(class=`dino-game__block dino-game__block-${index + 1}`)
							div(class=`dino-game__info step-info-${index + 1} ${index === 0 && 'active'}`)
								h4.dino-game__info-title=dino.title
								p.dino-game__info-text!=dino.text 
							+imageBrand("dot.svg", "dot").dino-game__dot
				.btn-row(data-aos="clip-right" data-aos-delay="150")
					button.custom-btn.dino-game__btn(type="button" data-bs-toggle="modal")
						span Нажми на кнопку
		section#programs.programs-section
			.container
				h2.section-title.programs-title(data-word="программа курса")
				#program-collapse.accordion
					each program, index in programs
						.card(data-aos="clip-right-short" data-aos-delay=`${100 + (index * 100)}` data-aos-duration="1000")
							.card-header.collapsed(data-bs-toggle="collapse" data-bs-target=`#${program.id}`)
								p.card-number(data-aos="fade-right-20" data-aos-delay=`${150 + (index * 100)}`)=`блок ${index + 1}.`
								p.card-title(data-aos="fade-right-20" data-aos-delay=`${200 + (index * 100)}`)=program.title
								button.card-toggle(type="button")
									span
									span
							.collapse(id=program.id)
								.card-body
									.card-desc
										p!=program.desc
		section#speakers.speakers-section
			.container 
				h2.section-title.speakers-title(data-word="cпикер")
				.speakers-images
					+imageBrand("speaker_1.png", "speaker-1")(data-aos="gta-effect" data-aos-delay="100").speakers-image-destop
					+imageBrand("speaker_2.png", "speaker-2")(data-aos="gta-effect" data-aos-delay="150").speakers-image-destop
					+imageBrand("speaker_3.png", "speaker-3")(data-aos="gta-effect" data-aos-delay="250").speakers-image-destop
					+imageBrand("speaker_1_mobile.png", "speaker-mobile-1")(data-aos="gta-effect" data-aos-delay="350").speakers-image-mobile
					+imageBrand("speaker_2_mobile.png", "speaker-mobile-2")(data-aos="gta-effect" data-aos-delay="400").speakers-image-mobile
					+imageBrand("speaker_3_mobile.png", "speaker-mobile-3")(data-aos="gta-effect" data-aos-delay="450").speakers-image-mobile
				.speakers-info
					.speakers-info__block
						.brand-img
							+imageBrand("brand-move.svg", "brand-img")(data-aos="scale-100" data-aos-delay="500" data-aos-duration="500")
						a(href="https://instagram.com/filatovsmm" target="_blank").section-title.speakers-info__title(data-word="Тимофей Филатов") 
						each item, index in filatov_desc
							p.speakers-info__subtitle
								span(data-aos="fade-up-mask" data-aos-delay=`${300 + (index * 300)}`)!=`${item}`
					.speakers-info__block
						h4.section-title.speakers-info__title-2(data-word="Я не люблю цифры, но их любишь ты.")
						p.speakers-info__subtitle-2
							span(data-aos="fade-up-mask" data-aos-delay="600") А я хочу тебе продать
						.sell_items
							each item, index in sell_items
								p.sell_subtitle
									+imageBrand("arrow.svg", "speaker-arrow")(data-aos="fade-up-mask" data-aos-delay=`${100 + (index * 100)}`)
									span(data-aos="fade-up-mask" data-aos-delay=`${150 + (index * 100)}`)!=`${item}`
							<svg class="speakers-info__svg-desktop" width="799" height="456" viewBox="0 0 799 456" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M97.6966 185C2.51901 237.449 -18.7695 306.209 21.2077 363.323C117.225 500.5 429.643 451.39 532.097 415.626C634.551 379.862 801.824 267.637 797.155 112.088C792.486 -43.4605 467.247 -5.16125 339.409 48.441" stroke="#FF4826" stroke-width="3"/>
							</svg>
							<svg class="speakers-info__svg-desktop" width="795" height="448" viewBox="0 0 795 448" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M111.133 174.104C14.0019 222.634 -11.3013 273.165 8.02481 340.633C51.1826 491.297 412.59 445.457 516.337 413.908C620.084 382.359 791.574 277.026 792.995 121.315C794.417 -34.3946 468.016 -9.46061 338.214 38.8807" stroke="#FF4826" stroke-width="3"/>
							</svg>
							<svg class="speakers-info__svg-mobile speakers-info__svg-mobile-1" width="375" height="468" viewBox="0 0 375 468" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M180.052 35.2087C229.685 -11.3075 285.514 -7.4638 326.739 31.8474C425.753 126.265 359.342 309.696 322.145 364.939C284.948 420.181 181.996 496.924 60.4175 455.138C-61.1612 413.351 -2.08453 219.188 51.3692 152.501" stroke="#FF4826"/>
							</svg>
							<svg class="speakers-info__svg-mobile speakers-info__svg-mobile-2" width="369" height="463" viewBox="0 0 369 463" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M167.008 42.0958C213.297 -6.24572 254.78 -9.46594 305.464 19.2319C418.648 83.318 351.043 296.519 317.355 353.172C283.666 409.825 186.679 490.313 65.6289 452.676C-55.4208 415.038 -7.15234 218.415 41.8842 149.729" stroke="#FF4826"/>
							</svg>
		section#results.results-section 
			.container 
				h2.section-title.results-title(data-word="результаты после курса")
				.results-items
					each result, index in results
						.results-item(data-aos="clip-right-short" data-aos-delay=`${ 100 + (index * 100) }` data-aos-duration="1000")
							+imageBrand(`${result.img}`, `results-${index + 1}`).results-item__img
							h4.results-item__title(data-aos="fade-right-20" data-aos-delay=`${ 150 + (index * 100) }`)=result.title
							p.results-item__text(data-aos="fade-right-20" data-aos-delay=`${ 200 + (index * 100) }`)=result.desc
		section#rates.rates-section 
			+imageBrand("rate-bg.png", "rate-bg").rates-section-bg.rates-section-bg__desktop
			+imageBrand("rate-bg-mobile.png", "rate-bg").rates-section-bg.rates-section-bg__mobile
			.container 
				h2.section-title.rates-title.rates-title__desktop(data-word="тарифы")
				h2.section-title.rates-title.rates-title__mobile(data-word="оплата")
				.rates-items
					.rates-item(data-aos="clip-right-short" data-aos-delay="450" data-aos-duration="1000")
						.rates-item__top 
							.rates-top__name
								p.rates-top__num 01
								p.rates-top__title стандартный
							p.rates-top__price
								span.del 290$
								|  200$
						.rates-item__points
							.rates-item__point
								.rates-point__img
									+imageBrand("check-mark.svg", "check-mark")
								span доступ ко всем модулям
							.rates-item__point
								.rates-point__img
									+imageBrand("check-mark.svg", "check-mark")
								span чат студентов
							.rates-item__point
								.rates-point__img
									+imageBrand("check-mark.svg", "check-mark")
								span коммуникация с @filatovsmm
							.rates-item__point
								.rates-point__img
									+imageBrand("check-mark.svg", "check-mark")
								span доступ в закрытый instagram-аккаунт
							.rates-item__point
								.rates-point__img
									+imageBrand("error-mark.svg", "error-mark")
								span.inactive индивидуальное сопровождение от @filatovsmm  во время курса и в течение 30 дней после его окончания
						.rates-section__scrolling-bar.rates-section__scrolling-bar_text(data-aos="clip-right" data-aos-delay="1800" data-aos-offset="-1000")
							.rates-section__text-wrap
								while u++ < 10
									p.text 15 мест
							.rates-section__text-wrap
								while t++ < 10
									p.text 15 мест
						.btn-row(data-aos="clip-right" data-aos-delay="1000")
							button.custom-btn(type="button" data-bs-toggle="modal" data-bs-target="#reservation-brand")
								span забронировать
								<svg width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M10.5107 0.572754H8.1315V10.8828H10.5107V0.572754Z" fill="#AEFF00"/>
									<path d="M0.200708 0.572754V2.95199L10.5107 2.95199V0.572754L0.200708 0.572754Z" fill="#AEFF00"/>
									<path d="M8.92458 4.14161V2.55545H6.54534L0.200708 8.90009V10.8828H2.18341L8.92458 4.14161Z" fill="#AEFF00"/>
								</svg>
					.rates-item(data-aos="clip-right-short" data-aos-delay="100" data-aos-duration="1000")
						.rates-item__top 
							.rates-top__name
								p.rates-top__num 02
								p.rates-top__title индивидуальный
							p.rates-top__price 1000$
						.rates-item__points
							.rates-item__point
								.rates-point__img
									+imageBrand("check-mark.svg", "check-mark")
								span доступ ко всем модулям
							.rates-item__point
								.rates-point__img
									+imageBrand("check-mark.svg", "check-mark")
								span чат студентов
							.rates-item__point
								.rates-point__img
									+imageBrand("check-mark.svg", "check-mark")
								span коммуникация с @filatovsmm
							.rates-item__point
								.rates-point__img
									+imageBrand("check-mark.svg", "check-mark")
								span доступ в закрытый instagram-аккаунт
							.rates-item__point
								.rates-point__img
									+imageBrand("check-mark.svg", "check-mark")
								span индивидуальное сопровождение от @filatovsmm  во время курса и в течение 30 дней после его окончания
						.btn-row(data-aos="clip-right" data-aos-delay="1000")
							button.custom-btn(type="button" data-bs-toggle="modal" data-bs-target="#reservation-brand")
								span забронировать
								<svg width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M10.5107 0.572754H8.1315V10.8828H10.5107V0.572754Z" fill="#AEFF00"/>
									<path d="M0.200708 0.572754V2.95199L10.5107 2.95199V0.572754L0.200708 0.572754Z" fill="#AEFF00"/>
									<path d="M8.92458 4.14161V2.55545H6.54534L0.200708 8.90009V10.8828H2.18341L8.92458 4.14161Z" fill="#AEFF00"/>
								</svg>
		section#questions.questions-section 
			.container
				h2.section-title.questions-title(data-word="ответы на вопросы")
				#questions-collapse.accordion
					each question, index in questions
						.card(data-aos="clip-right-short" data-aos-delay=`${100 + (index * 100)}` data-aos-duration="1000")
							.card-header.collapsed(data-bs-toggle="collapse" data-bs-target=`#${question.id}`)
								p.card-title(data-aos="fade-right-20" data-aos-delay=`${150 + (index * 100)}`)=question.title
								button.card-toggle(type="button")
									+imageBrand("arrow-down.png", "arrow-down")
							.collapse(id=question.id)
								.card-body
									.card-desc
										p!=question.desc
		section#manager.manager-section 
			+imageBrand("bottom-paper.png", "bottom-paper").manager-section-bg
			.container 
				.manager-section__inner
					.manager-remain__block 
						.manager-remain__crown
							+imageBrand("bottom-crown.png", "crown")
						p.manager-remain__text Остались вопросы?
					.btn-row(data-aos="clip-right" data-aos-delay="1000")
						a.custom-btn(href="https://www.instagram.com/filatov.education/?hl=ru")
							span Написать менеджеру